/* General options */
body {
	background: url(images/texture.png) repeat;
  	color: #000000;
  	font-family: Helvetica;
  	font-size: 12px;
  	line-height: normal;
  	margin: 0;
  	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  	color: #492F18;
  	font-family: Helvetica;
  	font-weight: normal;
	font-weight: bold;
}

h1 {
  font-size: 36px;
  line-height: 1em;
  margin-bottom: .5em; 
}

h2 {
  font-size: 30px;
  line-height: 1.5em;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  line-height: 1.25em;
  margin-bottom: 1.25em; 
}

h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1.5em; 
}

h6 {
  font-size: 12px;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em 0;
}

p a:link {
  text-decoration: none;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: #492F18;
	text-decoration: none;
}

.block ul {
	margin: 10px 0;
}

.block ul li {
	margin-left: 10px;
}

/* Overlapped logo */
.apadesur-logo#overlapped-logo {
	float:right;
	background-image: url(images/logo.png);
}

/* Wrapper */
.wrapper {
	margin: 0 auto;
  	padding: 0;
  	width: 1000px;
  	background: transparent;
}

/* Header */
header.apadesur {
	margin: 5px 0;
  	padding: 0;
  	height: 100px;
	position: relative;
  	z-index: 1;
  	background: transparent url(images/apadesur.png) no-repeat center 100%;
  	width:  1000px;
  	-moz-border-radius: 5px;
  	-ms-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	float: left;
}

/* Zona de socios */
nav #header-menu {
	height: 40px;
	width: 1000px;
 	position: relative;
  	margin: 0;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-webkit-border-radius: 7px;
}

	/* Header links */
	#header-menu ul {
		list-tyle: none;
  		margin: 0 5px;
  		padding: 0;
  		width: 100%;
	}

	#header-menu li {
		display: inline;
		position: relative;
		list-style: none;
		float: right;
		text-align: center;
		font-weight: bold;
  		background: none;
  		margin: 4px 8px;
	}

	#header-menu a:link, #header-menu a:visited {
		font-weight: bold;
		color: #FFFFFF;
  		text-decoration: none;
		margin: 0;
		padding: 5px;
		display: block;
		border: 1px solid #492F18;
		background-color: #492F18;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-webkit-border-radius: 7px;
	}

	#header-menu a:hover, #header-menu a:active {
		background-color: #492F18;
		color: #FFFFFF;
  		text-decoration: none;
		margin: 0;
  		padding: 5px;
		display: block;
		border: 1px solid #FFFFFF;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-webkit-border-radius: 7px;
	}

/* Footer */
footer.apadesur {
	float: left;
	position: relative;
  	z-index: 1;
  	background: url(images/footer.png) no-repeat center 100%;
	margin: -60px 0;
	padding: 0;
	height: 100px;
	width: 1000px;
	-moz-border-radius: 5px;
  	-ms-border-radius: 5px;
  	-webkit-border-radius: 5px;
}

/* Navigation options */
#primary-menu {
  	position: relative;
  	width: 100%;
  	margin: 5px 0;
	background: url(images/primary-bg.png) no-repeat center 100%;
	height: 40px;
	float: left;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-webkit-border-radius: 7px;
}

	/* Primary links */
	#primary-menu ul {
		list-tyle: none;
  		margin: 0 5px;
  		padding: 0;
  		width: 100%;
	}

	#primary-menu li {
		display: inline;
		position: relative;
		list-style: none;
		float: left;
		text-align: center;
		font-weight: bold;
  		background: none;
  		margin: 4px 8px;
		width: 12%;
	}

	#primary-menu a:link, #primary-menu a:visited {
		font-weight: bold;
		color: #FFFFFF;
  		text-decoration: none;
		margin: 0;
		padding: 5px;
		display: block;
		border: 1px solid #492F18;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-webkit-border-radius: 7px;
	}

	#primary-menu a:hover, #primary-menu a:active {
		background-color: #492F18;
		color: #FFFFFF;
  		text-decoration: none;
		margin: 0;
  		padding: 5px;
		display: block;
		border: 1px solid #FFFFFF;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-webkit-border-radius: 7px;
	}

	#primary-menu ul ul {
  		position: absolute;
  		z-index: 500;
	}

	#primary-menu ul ul ul, #primary-menu ul ul ul ul {
  		position: absolute;
  		top: 0;
  		left: 100%;
	}

	#primary-menu ul ul, #primary-menu ul li:hover ul ul, #primary-menu ul ul li:hover ul ul, #primary-menu ul ul ul li:hover ul ul {
  		display: none;
	}

	#primary-menu ul li:hover ul, #primary-menu ul ul li:hover ul, #primary-menu ul ul ul li:hover ul, #primary-menu ul ul ul ul li:hover ul {
  		display: block;
  		width: 100%;
	}

	#primary-menu ul li ul li {
		color: #FFFFFF;
		background-color: #492F18;
  		border: 1px solid #FFFFFF;
  		float: left;
  		padding: 0;
  		position: relative;
  		width: 100%;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-webkit-border-radius: 7px;
	}


	/* Secondary links */
	nav.secondary-links ul {
  	  	position: relative;
  		width: 100%;
  		margin: 5px 0;
		height: 40px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-webkit-border-radius: 7px;
	}

	nav.secondary-links li a:link, nav.secondary-links li a:visited {
  		display: inline-block;
  		line-height: 3em;
  		margin: 0;
  		padding: 0 .5em;
		text-decoration: none;
	}

	nav.secondary-links li a:hover, nav.secondary-links li a:active {
  		text-decoration: none;
	}

	/* Block */
	#primary-menu .block {
  		margin: 0;
	}

/* Breadcrumbs */
.breadcrumb {
  color: #492F18;
  padding: 0;
  margin: 10px 0;
}

.breadcrumb a:link {
  color: #898989;
}

.breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:visited {
  color: #492F18;
  font-style: italic;
}

/* Main content */
#main {
  	margin: 10px 3px;
  	position: relative;
  	padding: 0 10px 10px;
   background: #FFFFFF;
	border: 1px dashed #898989;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	min-height: 500px;
}

#main ul, #main ol {
	margin: 0 0 10px 0;
	padding: 0 15px;
}

#main ul li, #main ol li {
	margin: 0 0 10px 0;
	padding: 0 15px;
}
	/* Three columns */
	body.sidebars #main {
  		float: left;
  		width: 500px;
	}

	/* Two columns - sidebar-left */
	body.sidebar-left #main {
  		float: right;
  		width: 700px;
	}

	/* Two columns - sidebar-right */
	body.sidebar-right #main {
  		float: left;
  		width: 700px;
	}
	
/* Sidebars */
.sidebar {
	width: 250px;
  	margin: 10px 0 0 0;
  	position: relative;
  	background: #FFFFFF;
	padding: 10px;
	border: 1px dashed #898989;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.sidebar h3 {
	background: url(images/h3-bg.png) no-repeat left 100%;
	padding-left: 10px;
	line-height: 2em;
	margin: 0;
	border: 0;
}
	
/* Left */
#sidebar-left {
	float: left;
}
	
/* Right */	
#sidebar-right {
	float: right;
}

/* Another items */
.block {
  margin: 10px auto;
  position: relative;
}

	/* login block */
	#user-login-form {
  		padding: 0 .5em;
  		text-align: left;
	}

	#user-login-form .form-item {
  		margin: 0;
	}

	#user-login-form .item-list ul li {
  		background: none;
  		padding: 0;
		margin: 0;
		list-style: disc outside none;
	}

	div.block div.edit {
  		background-color: #f5f5f5;
  		border: 1px solid #ddd;
  		display: none;
  		font-size: 9px;
  		padding: 2px 0 2px 10px;
  		position: absolute;
  		margin: 0;
  		z-index: 40;
	}

	div.block:hover div.edit {
  		display:block;
	}

	div.block div.edit a {
  		color: #999;
  		margin-right: 10px;
	}

	div.block div.edit:hover a {
  		color: #000;
	}

	div.view {
  		position: relative;
	}

	div.view div.views-hide-hover, div.view:hover div.views-hide, div.view div.views-admin-links, div.view div.views-admin-links-hover, div.view div.views-admin-links:hover {
  		background-color: #f5f5f5;
  		border: 1px solid #ddd;
  		font-size: 9px;
  		margin: 0 0 0 0;
  		padding: 0 0 0 10px;
  		position: absolute;
  		width: auto;
	}

	div.view div.views-admin-links li a {
  		color: #999;
	}
	
/* CSS support */
span.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 1px;
	line-height: 0;
	margin-bottom: -1px;
}

.clear {
	clear: both;
}

.clear-block {
	display: block;
}

.clearfix:after, .container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.clearfix, .container {
	display: block;
}

/* Floating elements */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.img-left {
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
}

.img-right {
	float: right;
	margin: 1.5em 0 1.5em 1.5em;
}

.first {
	margin-left: 0;
	padding-left: 0;
}

.last {
	margin-right: 0;
	padding-right: 0;
}

.top {
	margin-top: 0;
	padding-top: 0;
}

.bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.text-left       { text-align: left; }

.text-right      { text-align: right; }

.text-center     { text-align: center; }

.text-justify    { text-align: justify; }

.bold            { font-weight: bold; }

.italic          { font-style: italic; }

.underline       { border-bottom: 1px solid; }

.highlight       { background: #ffc; }

.quiet           { color: #666; }

.loud            { color: #000; }

.added           { background: #060; color: #fff; }

.removed         { background: #900; color: #fff; }

.small {
	font-size: .8em;
	margin-bottom: 1.875em;
	line-height: 1.875em;
}

.large {
	font-size: 1.2em;
	line-height: 1.25em;
	margin-bottom: 1.25em;
}

.nopadding {
	padding: 0;
}

.noindent {
	margin-left: 0;
	padding-left: 0;
}

.nobullet {
	background: none;
	list-style: none;
	list-style-image: none;
}

.wrap {
	width: 950px;
	margin: 0 auto;
}

.hide {
	display: none;
}

/**
 * 7.NODES
 */
span.submitted {
  color: #898989;
  font-size: .8333em;
  line-height: 1.5em;
}

.node .picture {
  float: left;
  margin: .5em .5em .5em 0;
}

.meta {
  margin: 0 0 3em;
}

.meta div.links {
  float: left;
}

.meta div.terms {
  float: right;
}

.meta div.terms span {
  float: left;
}

.meta div.links ul.links li {
  float: left;
  padding: 0 1em 0 0;
}

.meta div.terms ul.links li {
  float: left;
  padding: 0 0 0 1em;
}

.node_read_more {
  font-weight: bold;
}

/* pagination */
.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a:link, 
.item-list ul.pager li a:visited, 
.item-list ul.pager li.pager-current {
  margin: 0;
  padding: 0 .2em;
  text-decoration: none;
}

.item-list ul.pager li a:hover, 
.item-list ul.pager li a:active {
  text-decoration: underline;
}

.item-list ul.pager li.pager-current {
  border-bottom: 2px solid;
  color: #069;
  font-weight: bold;
}

/**
 * 8.COMMENTS
 */
.comment {
  margin: 0;
  padding: 0;
}

.comment-bar {
  font-size: 1em;
  line-height: 1.5em;
  position: relative;
}

.comment span.submitted {
  color: #898989;
}

.comment span.new {
  color: red;
}

.comment-title {
  display: none;
}

.comment .picture {
  float: right;
  margin: 0 0 .5em .5em;
}

.comment ul.links {
  margin: 0 0 1.5em;
}

.comment ul.links li a {
  text-decoration: underline;
}

.indented {
  border-left: 1px solid #ddd;
  margin-left: 2em;
  padding-left: 1em;
}

.form-item input {
	width: 450px;
	border: 1px dashed #898989;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.resizable-textarea textarea {
	width: 450px;
	border: 1px dashed #898989;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: block;
}

.resizable-textarea .grippie {
	background-color: #898989;
	width: 452px;
	height: 5px;
	cursor: s-resize;
	overflow: hidden;
	border: none;